<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.napchatalarms.napchatalarmsandroid">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_full_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AlarmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_alarm"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.CreateAlarmActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".utility.AlarmReceiver" />

        <activity android:name=".activities.CustomRingtoneActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.OpenSrcLibActivity" />
        <activity android:name=".activities.CreditActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.OnboardingActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>